@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
  --font-mono: 'DM Mono', monospace;
}
